.edu-section {
    margin-top: 30px;
    display: flex;
    width: 100%;
}

.edu-right {
    width: 50%;
    height: 600px;
    margin-left: 100px;
}

.edu-left {
    height: 400px;
    width: 50%
}

.edu-card {
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(226deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.12) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    background-color: #4E9F3D;
    backdrop-filter: blur(20px);
    height: 120px;
    width: 100%;
    flex-shrink: 0;
    margin: 20px 0px;
    padding: 10px;
    color: var(--color-primary);
    font-family: sans-serif, cursive;
}



.grade {
    color: var(--color-primary);
}

.institute {
    color: var(--color-primary);
}

.course {
    color: black;
}


.edu-card-inner {
    display: flex;
}

.edu-card-inner>img {
    width: 5px;
    aspect-ratio: 1/1;
}

.edu-right>img {
    margin-top: 0px;
    margin-left: 100px;
    width: 500px;
    aspect-ratio: 1/1;
    position: absolute;
    margin-bottom: 0px;
    /* width: 90%; */
    /* aspect-ratio: 1/1; */
}



/* media queries */
@media screen and (max-width: 1250px) {
    .edu-right>img {
        margin-top: 10px;
        margin-left: 0px;
        width: 500px;
        aspect-ratio: 1/1;
        position: absolute;
        margin-bottom: 0px;
        /* width: 90%; */
        /* aspect-ratio: 1/1; */
    }

    .edu-right {
        width: 50%;
        height: 900px;
        margin-left: 0px;
    }

    .edu-left {
        height: 600px;
        width: 100%
    }

    .edu-section {
        height: 1200px;
        display: block;
    }
}


@media screen and (max-width: 500px) {
    .edu-right>img {
        margin-top: 0px;
        margin-left: 0px;
        width: 300px;
        aspect-ratio: 1/1;
        position: absolute;
        margin-bottom: 0px;
        /* width: 90%; */
        /* aspect-ratio: 1/1; */
    }

    .edu-right {
        width: 100%;
        height: 400px;
        margin-left: 0px;
    }

    .edu-left {
        height: 500px;
        width: 100%
    }

    .edu-section {
        height: 1000px;
        display: block;
    }
    .edu-container{
        height: 900px;
    }
}
