.contact_container{
    width: 70%;
    display: grid;
    grid-template-columns: 30% 25% 50%;
    gap: 12%;
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#contact{
    height: 950px;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: var(--color-primary);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover{
    background-color: transparent;
    border-color: var(--color-primary);
}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}

.contact_option a{
    margin-top: 0.5rem;
    display: inline-block;
    font-size: 0.8rem;
}


/* form */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
}


/* ==================================media queries================================== */
@media screen and (max-width: 1600px){
    #contact{
        height: 500px;
    }
}


@media screen and (max-width: 900px) {
    .contact_container{
        grid-template-columns: 50% 50%;
    }
    #contact{
        height: 1000px;
    }
}

@media screen and (max-width: 600px){
    .contact_container{
        grid-template-columns: 100%;
    }
    #contact{
        height: 1400px;
    }
}

@media screen and (max-width: 400px){
    .contact_container{
        grid-template-columns: 100%;
    }
}